* {
  padding: 0px;
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
body {
  width: 100%;
  height: 100vh;
  background-image: url(./img/red-neon-lines-design-dark-black-background.jpg);
  background-repeat: no-repeat center center fixed;
  background-size: cover;
  background-color: black;
}

li {
  list-style: none;
  font-size: 24px;
  width: 160px;
}
textarea {
  resize: none;
}
textarea::-webkit-scrollbar {
  border-radius: 20px;
}
textarea::placeholder {
  padding-top: 30px;
}
a,
.linkactive {
  text-decoration: none;
  color: black;
}
.text {
  color: white;
}
.botao {
  margin-left: 160px;
  padding-top: 13px;
  display: flex;
  gap: 5px;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 297px;
  height: 66px;
  border-radius: 20px;
  border: none;
  font-size: 24px;
  transition: 0.5s;
}
.btncntt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cntt {
  margin-bottom: 10px;
  text-align: center;
  width: 297px;
  height: 66px;
  border-radius: 20px;
  border: none;
  font-size: 24px;
  transition: 0.5s;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s;
}
.cntt:hover {
  background-color: black;
  color: white;
  .imgmail {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
}
.btn:hover {
  background-color: black;
  color: white;
}
.btn a:hover {
  color: white;
}
.imgmail {
  width: 50px;
  height: 35px;
}
.links {
  width: 500px;
  display: flex;
  flex-direction: row;
  gap: 55px;
  align-items: center;
  justify-content: left;
  padding-left: 41.01px;
}
.linksContato {
  padding-left: 300px;
}
.navbar {
  gap: 250px;
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  background: linear-gradient(45deg, #b60000, #f2b2b2);
  box-shadow: 0px 4px 34.4px #b60000;
}
.linkactive {
  transition: 0.5s;
  width: 180px;
  height: 30px;
}
.linkactive:hover {
  height: 30px;
  border-radius: 20px;
  text-decoration: underline white;
}
.linkactive:active {
  padding-top: 60px;
  height: 80px;
  border-radius: 20px;
  text-decoration: underline black;
}
.footer {
  text-align: center;
  background-color: #b60000;
  height: 40px;
  width: 100%;
  bottom: 0px;
  margin-bottom: 0px;
  position: fixed;
  box-shadow: 0px -4px 34.4px #b60000;
}
.container-img {
  width: 50%;
  right: 0px;
  padding-top: 80px;
  padding-left: 270px;
}
.container-text {
  text-align: center;
  width: 50%;
  left: 0px;
  padding-top: 19vh;
  justify-content: center;
  align-items: center;
}
.assets {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.pimagem {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px 35px #b60000;
}
.icons {
  margin-top: 25px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 300px;
}
.iconesL {
  padding: 5px;
  width: 50px;
  height: 50px;
  transition: 0.5s;
}
.icones {
  padding: 5px;
  width: 50px;
  height: 50px;
}
.iconesL:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.spanDigitar {
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
}
.containerType {
  display: inline-block;
}
.containerType span {
  position: relative;
}
.containerType span::before {
  content: "Web Developer";
  animation: words 20s infinite;
}
.containerType span::after {
  content: "";
  position: absolute;
  width: calc(100%+8px);
  height: 100%;
  background-color: black;
  border-left: 2px solid #b60000;
  right: -8px;
  animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
  to {
    border-left: 2px solid black;
  }
}
@keyframes words {
  0%,
  20% {
    content: "Web developer";
  }
  21%,
  40% {
    content: "Programador";
  }
  41%,
  60% {
    content: "Universitario";
  }
  61%,
  80% {
    content: "Tecnico de TI";
  }
  81%,
  100% {
    content: "Gamer";
  }
}
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 10px);
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
}
.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 30px;
  width: 600px;
  height: 450px;
  background: linear-gradient(45deg, #f2b2b2, #b60000);
  box-shadow: 0px 4px 34.4px #b60000;
  border-radius: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inp {
  box-sizing: border-box;
  width: 350px;
  height: 66px;
  border-radius: 20px;
  background-color: white;
  border: none;
  padding: 10px;
}
.inp,
textarea:focus {
  outline: none;
}
.msg {
  width: 350px;
  height: 100px;
}
.form .btn {
  width: 350px;
}
.paragrafo {
  margin-top: 50px;
  margin-left: 1.5rem;
  text-align: left;
}
